@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 500;
  src: url("./fonts/ProximaNova-Semibold.woff") format("woff"), url("./fonts/ProximaNova-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Umnik";
  font-weight: 400;
  src: url("./fonts/umnik-regular.woff") format("woff"), url("./fonts/umnik-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Umnik";
  font-weight: 600;
  src: url("./fonts/umnik-bold.woff") format("woff"), url("./fonts/umnik-bold.woff2") format("woff2");
}

*,
*:after,
*:before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body{
  font-family: "Proxima Nova", sans-serif;
  color: black;
  font-size: 16px;
  margin: 0;
}

a,
a:link{
  text-decoration: none;
}

.content-wrapper{
  outline: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
}

.banner-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-list .banner{
  display: flex;
  width: 565px;
  height: 294px;
  background-color: cyan;
  margin-bottom: 21px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-img{
  height: 100%;
  display: inline-block;
}

.banner-list .banner.clickable-banner{
  display: inline-block;
  padding: 0;
}

.banner .part-1{
  width: 44%;
  position: relative;
}

.gift:after{
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url("../img/gift.png");
  width: 106px;
  height: 119px;
  right: 0;
  top: 0;
}

.part-2{
  width: 56%;
}

.banner .title{
  font-size: 31px;
  margin: 0;
  padding: 0;
  line-height: 36px;
  display: block;
}

.banner p{
  font-weight: 500;
  display: block;
}

.banner .price{
  display: block;
  color: #FF0072;
  font-size: 36px;
  font-weight: 600;
  margin-top: 8px;
}

.banner .price-old{
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

.banner .price-old:before{
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: #FF0072;
  top: 50%;
  left: -10%;
  transform: rotate(5deg);
}

.timer-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 85px;
}

.time-unit .unit{
  font-family: "Umnik";
  font-weight: 600;
  font-size: 55px;
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
  background-color: white;
  border-radius: 6px;
  line-height: 55px;
  position: relative;
  letter-spacing: 12px;
}

.time-unit .unit-name{
  font-weight: 500;
  margin-top: 6px;
}

.time-unit .unit:before{
  content: "";
  display: block;
  position: absolute;
  border-right: 3px dashed #FBB100;
  width: 3px;
  height: 100%;
  top: 0;
  left: calc(50% - 2px);
}

.time-unit span{
  display: block;
  text-align: center;
}

.more-btn,
.more-btn:link{
  font-family: "Proxima Nova";
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #FF0072;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  display: inline-block;
  bottom: 20px;
  right: 26px;
  position: absolute;
}

.more-btn:hover,
.more-btn:link:hover{
  background-color: #fe2d8a;
}

.more-btn:active,
.more-btn:link:active{
  background-color: #d80061;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.clickable-banner a img{
  width: 100%;
  display: block;
}
